@charset "utf-8";
/* CSS Document */
@import url("font-awesome.min.css");
@import url("/just/layui/css/layui.css");
* {padding: 0;margin: 0;}
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}
li {list-style: none;}
a {color: #333;text-decoration: none;}
a:focus {outline: none;}
a, a:hover, a:active, a:visited, a:link, a:focus {-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;background: none;text-decoration: none;}
button, input {font-family: "微软雅黑";outline: none;}
#container{ font-size:14px;font-family: "微软雅黑"; color:#333;}
body{ background-color:#f7f7f7;}
.ctnt{ min-width:1000px; }
/*头部导航*/
.header { position:relative; background-color:#393d49; width:100%; }
.header .logo{ float:left; margin-left:20px; margin-right:50px; }
.header .logo{ height:20px; margin-top:20px;}
.header .hicon{ position:absolute ; right:20px; top:15px; }
.header .icon{ display:block; float:left; width:30px; height:30px; border:1px solid #525659; border-radius:40px;  text-align:center; margin:0 5px; }
.header .fa{line-height:30px;}
.header .fa-qq{ color:#5192cc;}
.header .fa-share-alt{ color:#efc758;}
.header .fa-question{ color:#f17252; font-size:18px;}
.header .fa-bars{ color:#86b653;}
.header a.icon:hover{ background-color:#565b67;}
.layui-nav{ position:initial;}
.layui-nav-item a{ font-size:16px; }
.layui-nav .layui-nav-item a{padding:0 15px;}
.layui-nav .layui-nav-item1 a{padding:0 20px; font-size:14px;}
.layui-nav-child dd a{ font-size:14px;}
.layui-nav-img{ width:28px; height:28px;}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{ background-color:inherit; height:0;}
.layui-nav .layui-this{ background-color:#0158ff}
.header .login{ position:absolute ; right:190px; top:20px;color:#c4c5c9;}
.header .login a{ color:#c4c5c9; margin:0 8px;}
.header .login a:hover{ color:#fff;}
/*主要内容*/
#main{ width:90%; padding:0 5%; margin:0 auto; min-width:1000px;}
.cgi ,.cgijc{ padding-top:20px;}
.tit{ padding-bottom:10px; line-height:30px;}
.tit h2{ float:left; display:block; font-size:20px;}
.tit a{ float:right; font-size:12px;}
.tit a i{ margin-right:8px;}
.tit a:hover{ color:#0058fe;}
.layui-row img{width:100%;}
.cgi .layui-row{ margin:0 -8px;}
.cgi .layui-row a.show{display:block; position:relative;}
.cgi .layui-row img{ width:100%;}
.grid-demo{ margin: 0 8px;}
.new{ background-color:#0158ff; display:blockl; color:#fff; font-size:12px; height:18px; line-height:18px; padding:0 5px; border-radius:3px; position:absolute; right:0px; top:0;}
.layui-tab{ margin:20px 0; margin-bottom:0;}
.layui-tab-title{border-bottom:none; width:300px; margin:0 auto;border:1px solid #ddd;background-color:#eee; height:36px;}
.layui-tab-title li{ font-size:14px; line-height:36px;border-right:1px solid #ddd;}
.layui-tab-title li:last-child{ border-right:none;}
.layui-tab-brief>.layui-tab-title .layui-this {color: #fff; border-bottom:none; background-color:#0158ff;}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{ border-bottom:none;}
.layui-tab-content{ padding:10px 0; padding-top:16px;}
.layui-tab-content .layui-row{margin:0 -8px;}
.layui-tab-content .layui-row .grid-demo{ margin:0 8px; border:1px solid #ddd; margin-bottom:16px; background-color:#fff;}
.layui-tab-content .layui-row a.show{overflow:hidden;position:relative;  display:block;}
.layui-tab-content .more{ text-align:center; margin-top:10px;}
.layui-tab-content .more a{ border-radius:30px; height:36px; line-height:36px; padding:0 30px; border:1px solid #ddd; display:inline-block; background-color:#eee;}
.layui-tab-content .more a:hover{background-color:#0158ff; color:#fff;}
.shadow{ position:absolute; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.5); color:#fff; text-align:left; border-radius:3px; padding:10px; overflow:hidden;} 
.cgiarc{ padding:10px;}
.cgiarc1{ height:64px;}
.cgiarc h3 a{font-size:14px; height:20px; line-height:20px; overflow:hidden; white-space:nowrap;text-overflow: ellipsis; display:block; color:#333; margin-bottom:2px;}
.cgiarc h3 a:hover{ color:#0058fe;}
.tag{ height:20px; overflow:hidden; line-height:20px;font-size:13px; }
.tag strong{ color:#999; font-weight:normal; padding-right:5px;}
.tag a{ color:#999;}
.tag a:hover{ color:#0158ff;}
.action{border-top:1px solid #ddd; margin-left:-10px; margin-right:-10px; padding:10px; padding-bottom:0; color:#999;margin-top:6px;}
.action span{ padding-right:10px;}
.action i{ margin-right:4px;}
.action .handok{ float:right; padding-right:0;}
.action .handok i:hover{color:#0058fe; cursor:pointer;}
.cgiall .grid-demo{ margin-bottom:16px; border:1px solid #ddd; margin:0 8px; margin-bottom:16px; background-color:#fff; height:346px; }

@media(min-width:1600px){
	.layui-tab-content .layui-col-xs3{ width:16.666%;}
	}





























